/* This is not in the reset.css, so I'm adding it here. This code gives me the
control I expect when it comes to setting sizes and using margins/padding */
* {
  box-sizing: border-box;
}

/* custom CSS variables (also called custom properties) */
:root {
  --accent-color-1: #31343d;
  --accent-color-2: #92cccd;
  --copy-color: #445876;
  --page-background: #ededf6;
}

body {
}

nav {
  background-color: var(--accent-color-1);
}

header {
  height: 196px;
  background-image: url("../img/code-screen-1.jpg");
}

main {
}

section {
}

footer {
}

/* Tablets */
@media screen and (max-width: 992px) {
}

/* Large smartphones */
@media screen and (max-width: 768px) {
}

/* Small smartphones */
@media screen and (max-width: 576px) {
}
