/* This is not in the reset.css, so I'm adding it here. This code gives me the
control I expect when it comes to setting sizes and using margins/padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* custom CSS variables (also called custom properties) */
:root {
  --accent-color-1: #31343d;
  --accent-color-2: #92cccd;
  --copy-color: #445876;
  --page-background: #ededf6;

  --wireframe-outlines: none;
  /* comment this out to take out wireframes */
  /* --wireframe-outlines: 2px dotted red; */
}

body {
  /* display: flex;
  flex-direction: column; */
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  background-color: var(--page-background);
  min-width: 391px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 10px 10px 0px; */
  /* use CSS var() function to reference a variable created above */
  background-color: var(--accent-color-1);
  /* max-width: 1170px; */
  height: 88px;
  padding-right: 42px;
  outline: var(--wireframe-outlines);
}

.sub-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 16px;
  padding-right: 42px;
  height: 196px;
  background-image: url("../img/code-screen-1.jpg");
  outline: var(--wireframe-outlines);
}

header h1 {
  display: block;
  font-size: 200%;
  font-weight: bold;
  color: var(--accent-color-1);
  background-color: var(--accent-color-2);
  padding: 10px 10px 10px 40px;
  /* margin-left: 30px; */
  height: 60px;
  outline: var(--wireframe-outlines);
}

h2 {
  display: block;
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
  height: 50px;
  color: var(--accent-color-1);
  background-color: var(--accent-color-2);
  outline: var(--wireframe-outlines);
}

nav {
  background-color: var(--accent-color-1);
}

nav ul {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  min-width: 300px;
}

ul li a {
  /* background-color: unset; */
  color: var(--accent-color-2);
  font-weight: normal;
  text-decoration: none;
  border-bottom: 4px solid var(--accent-color-2);
  padding: 6px 12px;
  outline: var(--wireframe-outlines);
}

nav ul li a:hover {
  color: var(--accent-color-1);
  background-color: var(--accent-color-2);
}

main {
  margin: auto;
  max-width: 1170px;
}

section {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 32px;
  outline: var(--wireframe-outlines);
}

section div.section-content {
  width: 100%;
}

section h3 {
  font-size: 250%;
  font-weight: bold;
  color: var(--copy-color);
  padding-right: 16px;
  border-right: 4px solid;
  width: 200px;
  text-align: right;
  outline: var(--wireframe-outlines);
}

.work-content {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  gap: 16px;
  outline: var(--wireframe-outlines);
}

.work-content-flex {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
  /* flex-flow: row wrap; */
  width: 100%;
}

.article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 150px;
  flex: 1 1 40%;
  background-position: center; /* Center the image */
  background-size: cover;
  background-repeat: no-repeat; /* Do not repeat the image */
  border: 4px solid var(--accent-color-2);
  outline: var(--wireframe-outlines);
}

.article div.title {
  font-size: medium;
  position: absolute;
  padding: 8px;
  margin-bottom: 24px;
  color: var(--accent-color-1);
  background-color: var(--accent-color-2);
  z-index: 3;
  outline: var(--wireframe-outlines);
}

.article div.title div.projLinks a {
  text-decoration: none;
  color: var(--accent-color-1);
}

.article div.overlay {
  background-color: SlateGray;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  -moz-opacity: 40%;
  -webkit-opacity: 40%;
  z-index: 2;
}

.article div.overlay:hover {
  opacity: 0;
  -moz-opacity: 0%;
  -webkit-opacity: 0%;
}

.article div h4 {
  color: var(--accent-color-1);
  padding-bottom: 4px;
}

.article div p {
  color: var(--accent-color-1);
  font-size: 14px;
  padding-bottom: 6px;
}

.article h4 {
  color: var(--accent-color-1);
  font-weight: bold;
}

.article:first-child {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  height: 395px;
  background-image: url("../img/project-catMemory.jpg");
}

.article:nth-child(2) {
  background-image: url("../img/project-workScheduler.png");
}

.article:nth-child(3) {
  background-image: url("../img/code-screen-1.jpg");
}

.article:nth-child(4) {
  background-image: url("../img/circut.jpg");
}

.article:nth-child(5) {
  background-image: url("../img/yosimite.jpg");
}

.block {
  display: block;
}

.projLinks {
  /* outline: 1px solid red; */
  font-size: 12px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
}

.githubIcon {
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

.githubPagesBolding {
  font-weight: bolder;
  margin-left: 4px;
  margin-right: 2px;
}

footer {
  width: 100%;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

footer ul li a {
  color: var(--copy-color);
  border-bottom: 4px solid var(--copy-color);
  outline: var(--wireframe-outlines);
}

footer ul li a:hover {
  color: var(--page-background);
  background-color: var(--copy-color);
}

/* Tablets */
@media screen and (max-width: 992px) {
  footer ul li a {
    border-bottom: none;
  }
}

/* Large smartphones */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: 130px;
    gap: 14px;
  }
  header h1 {
    display: block;
    font-size: 200%;
    font-weight: bold;
    color: var(--accent-color-1);
    background-color: var(--accent-color-2);
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
  }
  nav {
    margin-bottom: 60px;
  }
  .sub-header {
    justify-content: center;
    align-items: center;
  }

  section {
    flex-direction: column;
  }
  section h3 {
    font-size: 250%;
    font-weight: bold;
    color: var(--copy-color);
    padding-right: none;
    padding-bottom: 16px;
    border-right: none;
    border-bottom: 4px solid;
    width: 100%;
    text-align: left;
  }

  footer ul {
    justify-content: space-between;
  }
  footer ul li a {
    border-bottom: none;
    font-size: smaller;
  }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
  ul li a {
    font-size: smaller;
  }
  footer ul {
    flex-direction: column;
    gap: 16px;
  }
}
